[Desktop Entry]
Name=RemNote
Exec=/home/luka/Downloads/RemNote-1.14.13.AppImage
Comment=
Terminal=false
Icon=/home/luka/Downloads/84738e30c71650823fd1e0d6f2d708ef.jpg
Type=Application
Hidden=true
