[Desktop Entry]
Categories=GNOME;Settings;DesktopSettings;Utility;
Comment=Add or remove applications from the main menu
Exec=alacarte
Hidden=
Icon=alacarte
Name=Alacarte
NoDisplay=
NotShowIn=KDE;
StartupNotify=true
Terminal=false
Type=Application
Name[af]=Hoofkieslys
Name[an]=Menu prencipal
Name[ar]=القائمة الرئيسية
Name[as]=মূখ্য তালিকা
Name[ast]=Menú Principal
Comment[be]=Дадаванне або выдаленне праграм з галоўнага меню
Name[be]=Галоўнае меню
Name[be@latin]=Hałoŭnaje menu
Name[bem]=Menu Ikalamba
Comment[bg]=Добавяне или премахване на програмите в основното меню
Name[bg]=Основно меню
Name[bn]=প্রধান মেনু
Name[bn_IN]=প্রধান মেনু
Comment[br]=Kemmañ roll an arloadoù diskouezet el lañser meur
Name[br]=Pennlañser
Name[brx]=गुदि मिनु
Comment[bs]=Dodaj ili obriši programe sa glavnog menija
Name[bs]=Glavni meni
Comment[ca]=Afegiu o suprimiu aplicacions al menú principal
Name[ca]=Menú principal
Comment[ca@valencia]=Afegiu o suprimiu aplicacions al menú principal
Name[ca@valencia]=Menú principal
Name[crh]=Baş Menü
Comment[cs]=Přidat nebo odebrat aplikace v hlavní nabídce
Name[cs]=Hlavní nabídka
Name[cy]=Prif Ddewislen
Comment[da]=Tilføj eller fjern programmer fra hovedmenuen
Name[da]=Hovedmenu
Comment[de]=Anwendungen dem Hauptmenü hinzufügen oder daraus löschen
Name[de]=Hauptmenü
Name[dz]=དཀར་ཆག་ངོ་མ་
Comment[el]=Προσθέστε ή αφαιρέστε εφαρμογές από το κύριο μενού
Name[el]=Κυρίως μενού
Name[en@shaw]=𐑥𐑱𐑯 𐑥𐑧𐑯𐑿
Name[en_CA]=Main Menu
Comment[en_GB]=Add or remove applications from the main menu
Name[en_GB]=Main Menu
Name[eo]=Ĉefa menuo
Comment[es]=Añadir o quitar aplicaciones del menú principal
Name[es]=Menú principal
Comment[et]=Peamenüüs näidatavate rakenduste lisamine või eemaldamine
Name[et]=Peamenüü
Comment[eu]=Gehitu edo kendu aplikazioak menu nagusitik
Name[eu]=Menu nagusia
Comment[fi]=Lisää tai poista päävalikossa näytettäviä sovelluksia
Name[fi]=Päävalikko
Comment[fr]=Ajouter ou supprimer des applications à partir du menu principal
Name[fr]=Menu principal
Comment[fur]=Zonte o gjave lis aplicazions dal menù principâl
Name[fur]=Menu principâl
Name[fy]=Haadmenu
Name[ga]=Príomhroghchlár
Comment[gl]=Engadir ou desinstalar aplicativos desde o menú principal
Name[gl]=Menú principal
Name[gu]=મુખ્ય મેનુ
Comment[he]=הוספה או הסרה של יישומים בתפריט הראשי
Name[he]=תפריט ראשי
Name[hi]=मुख्य मेन्यू
Comment[hr]=Dodaj ili ukloni aplikaciju iz glavnog izbornika
Name[hr]=Glavni izbornik
Comment[hu]=Alkalmazások hozzáadása vagy eltávolítása a főmenüből
Name[hu]=Főmenü
Name[hy]=Գլխավոր մենյու
Comment[id]=Tambah atau hapus aplikasi dari menu utama
Name[id]=Menu Utama
Comment[ie]=Adjunter o remover applicationes de li menú principal
Name[ie]=Menú principal
Name[io]=Precipua Menuo
Comment[is]=Bæta við eða fjarlægja forrit úr aðalvalmynd
Name[is]=Aðalvalmynd
Name[it]=Menù principale
Name[ja]=メイン・メニュー
Comment[ka]=წაშალეთ და დაამატეთ აპლიკაციები მთავარი მენიუდან
Name[ka]=მთავარი მენიუ
Comment[kk]=Басты мәзірге қолданбаларды қосу немесе өшіру
Name[kk]=Бас мәзір
Name[km]=ម៉ឺនុយ​មេ
Name[kn]=ಮುಖ್ಯ ಪರಿವಿಡಿ
Name[ko]=주 메뉴
Name[ku]=Pêşeka Bingehîn
Comment[lt]=Pridėti arba šalinti programas pagrindiniame meniu
Name[lt]=Pagrindinis meniu
Comment[lv]=Pievienot vai izņemt lietotnes no galvenās izvēlnes
Name[lv]=Galvenā izvēlne
Name[mai]=मुख्य मेनू
Name[mg]=Tolotra Fototra
Name[mk]=Главно мени
Name[ml]=പ്രധാന മെനു
Name[mn]=Үндсэн цэс
Name[mr]=मुख्य मेन्यु
Name[ms]=Menu Utama
Comment[nb]=Legg til eller fjern programmer fra hovedmenyen
Name[nb]=Hovedmeny
Name[nds]=Hööftmenü
Name[nn]=Hovudmeny
Name[or]=ମୁଖ୍ୟ ତାଲିକା
Name[pa]=ਮੁੱਖ ਮੇਨੂ
Comment[pl]=Dodawanie i usuwanie programów z głównego menu
Name[pl]=Menu główne
Name[ps]=اره غورنۍ
Comment[pt]=Adicionar ou remover aplicações do menu principal
Name[pt]=Menu principal
Comment[pt_BR]=Altere quais aplicativos são mostrados no menu principal
Name[pt_BR]=Menu principal
Name[ro]=Meniu principal
Comment[ru]=Добавить или удалить приложения из главного меню
Name[ru]=Главное меню
Comment[sk]=Pridáva alebo odstraňuje aplikácie z hlavnej ponuky
Name[sk]=Hlavná ponuka
Comment[sl]=Dodajanje in odstranjevanje programov v osnovnem meniju
Name[sl]=Glavni meni
Name[sq]=Menuja kryesore
Comment[sr]=Додајте или уклоните програме приказане у главном изборнику
Name[sr]=Главни изборник
Comment[sr@latin]=Dodajte ili uklonite programe prikazane u glavnom izborniku
Name[sr@latin]=Glavni izbornik
Comment[sv]=Lägg till eller ta bort program från huvudmenyn
Name[sv]=Huvudmeny
Name[sw]=Menyu kuu
Name[ta]=முதன்மை புப் பட்டி
Comment[te]=ప్రధాన జాబితా నుండి అనువర్తనాలు జోడించండి లేదా తొలగించండి
Name[te]=ముఖ్య జాబితా
Name[th]=เมนูหลัก
Comment[tr]=Ana menüye uygulama ekleyin ya da kaldırın
Name[tr]=Ana Menü
Name[ug]=ئاساسىي تىزىملىك
Comment[uk]=Додавання програм до головного меню або вилучення їх з нього
Name[uk]=головне меню
Name[uz@cyrillic]=Асосий меню
Name[vi]=Trình đơn chính
Comment[zh_CN]=从主菜单中增加或移除应用程序
Name[zh_CN]=主菜单
Comment[zh_HK]=從主選單加入或移除應用程式
Name[zh_HK]=主選單
Comment[zh_TW]=從主選單加入或移除應用程式
Name[zh_TW]=主選單
Name[zu]=Ingqikithi yemenyu
