[Desktop Entry]
Categories=System;TerminalEmulator;
Comment=A wayland native terminal emulator
Exec=foot
GenericName=Terminal
Hidden=true
Icon=foot
Keywords=shell;prompt;command;commandline;
Name=Foot
NoDisplay=
StartupWMClass=foot
Terminal=false
Type=Application
