[Desktop Entry]
Name=StayFree
Exec=/opt/StayFree/stayfree-desktop %U
Terminal=false
Type=Application
Icon=/home/luka/Downloads/candy-icons/apps/scalable/cs-date-time.svg
StartupWMClass=StayFree
Comment=Analytics to help you understand and control your pc usage, leading to less distractions and enhanced productivity
Categories=Utility;
