[Desktop Entry]
Categories=Network;InstantMessaging;
Comment=Vencord Desktop is a free/libre cross platform desktop app aiming to give you a snappier Discord experience with Vencord pre-installed
Exec=/usr/bin/vesktop
GenericName=Internet Messenger
Hidden=
Icon=vencord
Keywords=discord;vencord;
Name=Vencord
NoDisplay=true
StartupWMClass=vencord-desktop
Type=Application
