[Desktop Entry]
Categories=
Exec=google-chrome-stable --new-tab http://youtube.com/
Hidden=
Icon=/home/luka/Downloads/candy-icons/apps/scalable/youtube.svg
Name=YouTube
NoDisplay=
Type=Application
Comment=
Terminal=false
