[Desktop Entry]
Categories=
Exec=google-chrome-stable --new-tab http://youtube.com/
Hidden=
Icon=/home/luka/Downloads/png-clipart-youtube-play-button-computer-icons-youtube-youtube-logo-angle-rectangle-thumbnail.png
Name=YouTube
NoDisplay=
Type=Application
