* {
  font-family:
    FontAwesome,
    Nerd Fonts;
  font-size: 14px;
}

window#waybar {
  background-color: rgba(43, 48, 59, 0);
  border-bottom: 3px solid rgba(100, 114, 125, 0);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #aae8e8;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #aae8e8;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
  background-color: #001535;
  box-shadow: inset 0 -3px #17bae1;
  color: #17bae1;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  margin-right: 10px;
  background-color: #17bae1;
  color: #001535;
  padding: 0 10px;
  border-radius: 12px;
}

#battery {
  background-color: #aae8e8;
  color: #001535;
  padding: 0 10px;
  border-radius: 12px;
}

#battery.charging,
#battery.plugged {
  color: #ffffff;
  background-color: #26a65b;
  padding: 0 10px;
  border-radius: 12px;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  padding: 0 10px;
  border-radius: 12px;
}

label:focus {
  background-color: #000000;
}

#backlight {
  background-color: #17bae1;
  color: #001535;
  padding: 0 10px;
  border-radius: 12px;
}

#network {
  background-color: #aae8e8;
  color: #001535;
  padding: 0 10px;
  border-radius: 12px;
}

#network.disconnected {
  background-color: #aae8e8;
  color: #002355;
}

#pulseaudio {
  background-color: #1464a9;
  color: #aae8e8;
  padding: 0 10px;
  border-radius: 12px;
}

#pulseaudio.muted {
  background-color: #002355;
  color: #aae8e8;
  padding: 0 10px;
  border-radius: 12px;
}

#tray {
  margin-left: 10px;
  background-color: #001535;
  color: #001535;
  padding: 0 10px;
  border-radius: 12px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#custom-spotify {
  padding: 0 10px;
  background-color: #aae8e8;
  color: #002355;
  border-radius: 12px;
}
