[Desktop Entry]
Name=read me
Exec=env WINEPREFIX="/home/luka/.wine" wine C:\\\\ProgramData\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\emu8086\\\\read\\ me.lnk
Type=Application
StartupNotify=true
Path=/home/luka/.wine/dosdevices/c:/emu8086
Icon=A1EE_readme.0
StartupWMClass=readme.txt
